.container {
    background: #191919;
    height: 33.6rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 9.7rem;
    margin: 0 -16.5rem;
    color: #fff;
    margin-bottom: 16rem;

    h2 {
        font-weight: 700;
        font-size: 4rem;
        line-height: 4.4rem;
        text-align: center;
        letter-spacing: 1.42857px;
        text-transform: uppercase;
    }
}