@use 'sass:color';

.container {
    background: #0e0e0e;
    color: #fff;
    width: 100vw;
    padding: 3.2rem 16.5rem 3.6rem;
    border-bottom: 1px solid transparentize($color:#fff, $amount: 0.9);

    &>div {
        display: flex;
        align-items: center;

        .logoDiv {
            display: flex;
            align-items: center;

            div:first-child {
                height: 2.5rem;
                width: 14.3rem;
            }
        }

        nav {
            margin-left: 16.3%;
            font-weight: 700;
            font-size: 1.3rem;
            line-height: 2.5rem;
            letter-spacing: 2px;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            gap: 3.4rem;

            span.active {
                color: #d87d4a;
            }

            span:hover {
                color: #d87d4a;
                cursor: pointer;
            }
        }

        .cartIcon {
            height: 100%;
            display: flex;
            align-items: center;
            margin-left: auto;
            font-size: 2rem;
        }

    }
}