.container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    right: 2rem;
    bottom: 1rem;
    z-index: 1000;

    .scrollToTopButton {
        width: 100%;
        height: 100%;
        transition: all 0.5s ease;
        opacity: 0.5;
        cursor: pointer;
        color: #d87d4a;

        &:hover {
            opacity: 1;
            transform: translateY(-1rem)
        }
    }
}

@media all and (max-width: 768px) {
    .container {
        right: 1rem;

        .scrollToTopButton {
            &:hover {
                opacity: 0.5;
            }
        }
    }
}