.container {
    margin-bottom: 20rem;
    color: #000000;

    h4 {
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 3.6rem;
        letter-spacing: 1.14286px;
        text-transform: uppercase;
        margin-bottom: 6.4rem;
    }

    .items {}
}