.container {
    background: #191919;
    height: 33.6rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 9.7rem;
    margin: 0 -16.5rem;
    color: #fff;
    margin-bottom: 16rem;

    h2 {
        font-weight: 700;
        font-size: 4rem;
        line-height: 4.4rem;
        text-align: center;
        letter-spacing: 1.42857px;
        text-transform: uppercase;
    }
}

@media all and (max-width:1300px) {
    .container {
        margin: 0 -10rem;
        margin-bottom: 16rem;
    }
}

@media all and (max-width:1200px) {
    .container {
        margin: 0 -8rem;
        margin-bottom: 16rem;
    }
}

@media all and (max-width:1100px) {
    .container {
        margin: 0 -4rem;
        margin-bottom: 12rem;
    }
}

@media all and (max-width:650px) {
    .container {
        margin: 0 -2.4rem;
        height: 19.2rem;
        padding-bottom: 3.2rem;
        margin-bottom: 6.4rem;

        h2 {
            font-size: 2.8rem;
            line-height: 3.8rem;
            letter-spacing: 2px;
        }
    }
}