.container {
    margin-bottom: 20rem;
    width: 100%;
    color: #000000;

    h4 {
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 3.6rem;
        letter-spacing: 1.14286px;
        text-transform: uppercase;
        margin-bottom: 6.4rem;
        text-align: center;
    }

    .items {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 3rem;
    }
}

@media all and (max-width:1100px) {
    .container {
        margin-bottom: 17.2rem;

        h4 {
            margin-bottom: 5.6rem;
        }

        .items {
            gap: 1.1rem;
        }
    }
}

@media all and (max-width:650px) {
    .container {

        h4 {
            font-size: 2.4rem;
            line-height: 3.6rem;
            letter-spacing: 0.857px;
            margin-bottom: 4rem;
        }

        .items {
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            gap: 5.6rem;
        }
    }
}