.container {
    padding: 5.4rem 4.8rem 4.8rem;
    background: #fff;
    border-radius: 8px;
    width: 65%;

    h2 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 3.6rem;
        letter-spacing: 1.14286px;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 4.1rem;
    }
}

@media all and (max-width:1100px) {
    .container {
        padding: 3rem 2.7rem;
        width: 100%;
    }
}

@media all and (max-width:650px) {
    .container {
        padding: 2.4rem 2.4rem 3.1rem;

        h2 {
            font-size: 2.8rem;
            line-height: 3.8rem;
            letter-spacing: 1px;
            margin-bottom: 3.2rem;
        }
    }
}